<app-navbar></app-navbar>
<br>
<div class="text-center container" style="font-size: 16px; ">
    <h3 style="color: rgb(3,72,168);">Careers</h3>
    <hr>
    <p><i>HaiPals is proud to be an Equal Employment Opportunity and Affirmative Action employer. We do not
            discriminate based upon race, religion, colour, national origin, sex (including pregnancy, childbirth,
            reproductive health decisions, or related medical conditions), sexual orientation, gender identity,
            gender
            expression, age, status as a protected veteran, status as an individual with a disability, genetic
            information, political views or activity, or other applicable legally protected characteristics.
            HaiPals is committed to providing reasonable accommodations for candidates with disabilities in our
            recruiting process.</i>
    </p>
</div>

<hr>

<div class="container">
    <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-10">
            <h4 class="text-center" style="color: rgb(3,72,168);">Fill the application form</h4><br>
            <form (ngSubmit)="addCareers(angForm.value)" [formGroup]="angForm" novalidate>
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-5">
                        <div class="form-group form-group-sm">
                            <label class="col-md-6">First Name</label>
                            <input type="text" class="form-control input-sm" formControlName="FirstName" #FirstName />
                        </div>
                        <div *ngIf="angForm.controls['FirstName'].invalid && (angForm.controls['FirstName'].dirty || angForm.controls['FirstName'].touched)"
                            class="alert alert-danger">
                            <div *ngIf="angForm.controls['FirstName'].errors.required">
                                First Name is required.
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group form-group-sm">
                            <label class="col-md-6">Last Name</label>
                            <input type="text" class="form-control input-sm" formControlName="LastName" #LastName />
                        </div>
                        <div *ngIf="angForm.controls['LastName'].invalid && (angForm.controls['LastName'].dirty || angForm.controls['LastName'].touched)"
                            class="alert alert-danger">
                            <div *ngIf="angForm.controls['LastName'].errors.required">
                                Last Name is required.
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1"></div>
                </div>
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-10">
                        <div class="form-group form-group-sm">
                            <label class="col-md-6">Email</label>
                            <input type="email" class="form-control input-sm" formControlName="Email" #Email />
                        </div>
                        <div *ngIf="angForm.controls['Email'].invalid && (angForm.controls['Email'].dirty || angForm.controls['Email'].touched)"
                            class="alert alert-danger">
                            <div *ngIf="angForm.controls['Email'].errors.required">
                                Email is required.
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1"></div>
                </div>
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-10">
                        <div class="form-group form-group-sm">
                            <label class="col-md-6">Phone</label>
                            <input type="number" class="form-control input-sm" formControlName="Phone" #Phone />
                            <div *ngIf="angForm.controls['Phone'].invalid && (angForm.controls['Phone'].dirty || angForm.controls['Phone'].touched)"
                                class="alert alert-danger">
                                <div *ngIf="angForm.controls['Phone'].errors.required">
                                </div>
                                Phone is required.
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1"></div>
                </div>
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-10">
                        <label class="col-md-2">Gender:</label>
                        <select class="custom-select form-control" formControlName="Gender" #Gender>
                            <option selected>--Select--</option>
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                            <option value="Other">Other</option>
                        </select>
                        <div *ngIf="angForm.controls['Gender'].invalid && (angForm.controls['Gender'].dirty || angForm.controls['Gender'].touched)"
                            class="alert alert-danger">
                            <div *ngIf="angForm.controls['Gender'].errors.required">
                                Gender is required.
                            </div>
                        </div>
                    </div>

                    <div class="col-md-1"></div>
                </div>
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-5">
                        <div class="form-group form-group-sm">
                            <label class="col-md-6">Address:</label>
                            <input type="text" class="form-control input-sm" formControlName="DoorNo"
                                placeholder="Door No" #DoorNo />
                        </div>
                        <div *ngIf="angForm.controls['DoorNo'].invalid && (angForm.controls['DoorNo'].dirty || angForm.controls['DoorNo'].touched)"
                            class="alert alert-danger">
                            <div *ngIf="angForm.controls['DoorNo'].errors.required">
                                Door No is required.
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group form-group-sm">
                            <label class="col-md-6"> &nbsp;</label>
                            <input type="text" class="form-control input-sm" formControlName="Street"
                                placeholder="Street" #Street />
                        </div>
                        <div *ngIf="angForm.controls['Street'].invalid && (angForm.controls['Street'].dirty || angForm.controls['Street'].touched)"
                            class="alert alert-danger">
                            <div *ngIf="angForm.controls['Street'].errors.required">
                                Street is required.
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1"></div>
                </div>
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-5">
                        <div class="form-group form-group-sm">
                            <input type="text" class="form-control input-sm" formControlName="Line1" placeholder="Line1"
                                #Line1 />
                        </div>
                        <div *ngIf="angForm.controls['Line1'].invalid && (angForm.controls['Line1'].dirty || angForm.controls['Line1'].touched)"
                            class="alert alert-danger">
                            <div *ngIf="angForm.controls['Line1'].errors.required">
                                Line1 is required.
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group form-group-sm">
                            <input type="text" class="form-control input-sm" formControlName="Line2" placeholder="Line2"
                                #Line2 />
                        </div>
                        <div *ngIf="angForm.controls['Line2'].invalid && (angForm.controls['Line2'].dirty || angForm.controls['Line2'].touched)"
                            class="alert alert-danger">
                            <div *ngIf="angForm.controls['Line2'].errors.required">
                                Line2 is required.
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1"></div>
                </div>
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-5">
                        <div class="form-group form-group-sm">
                            <input type="text" class="form-control input-sm" formControlName="City" placeholder="City"
                                #City />
                        </div>
                        <div *ngIf="angForm.controls['City'].invalid && (angForm.controls['City'].dirty || angForm.controls['City'].touched)"
                            class="alert alert-danger">
                            <div *ngIf="angForm.controls['City'].errors.required">
                                City is required.
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group form-group-sm">
                            <input type="text" class="form-control input-sm" formControlName="Pincode"
                                placeholder="Pincode" #Pincode />
                        </div>
                        <div *ngIf="angForm.controls['Pincode'].invalid && (angForm.controls['Pincode'].dirty || angForm.controls['Pincode'].touched)"
                            class="alert alert-danger">
                            <div *ngIf="angForm.controls['Pincode'].errors.required">
                                Pincode is required.
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1"></div>
                </div>
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-5">
                        <div class="form-group form-group-sm">
                            <input type="text" class="form-control input-sm" formControlName="State" placeholder="State"
                                #State />
                        </div>
                        <div *ngIf="angForm.controls['State'].invalid && (angForm.controls['State'].dirty || angForm.controls['State'].touched)"
                            class="alert alert-danger">
                            <div *ngIf="angForm.controls['State'].errors.required">
                                State is required.
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group form-group-sm">
                            <input type="text" class="form-control input-sm" formControlName="Country"
                                placeholder="Country" #Country />
                        </div>
                        <div *ngIf="angForm.controls['Country'].invalid && (angForm.controls['Country'].dirty || angForm.controls['Country'].touched)"
                            class="alert alert-danger">
                            <div *ngIf="angForm.controls['Country'].errors.required">
                                Country is required.
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1"></div>
                </div>
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-10">
                        <div class="form-group">
                            <label class="col-md-2">Resume</label>
                            <span class="ng-scope"></span><input type="file" (change)="upload($event)"
                                formControlName="Resume" #Resume>

                        </div>
                    </div>
                    <div *ngIf="angForm.controls['Resume'].invalid && (angForm.controls['Resume'].dirty || angForm.controls['FirstName'].touched)"
                        class="alert alert-danger">
                        <div *ngIf="angForm.controls['Resume'].errors.required">
                            Resume is required.
                        </div>
                    </div>
                    <div class="col-md-1"></div>
                </div>
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-10">
                        <div class="form-group form-group-sm">
                            <label class="col-md-6">LinkedIn Profile</label>
                            <input type="text" class="form-control input-sm" formControlName="LinkedIn" #LinkedIn />
                        </div>
                    </div>
                    <div class="col-md-1"></div>
                </div>
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-10">
                        <div class="form-group form-group-sm">
                            <label class="col-md-12">Have you been previously employed with Facebook, Whatsapp or
                                Tencent? (If yes, please specify) </label>
                            <textarea type="textarea" class="form-control input-sm" rows=5 formControlName="Experience"
                                #Experience></textarea>
                        </div>
                    </div>
                    <div class="col-md-1"></div>
                </div>
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-10">
                        <div class="controls"> <label class="checkbox"> <input type="checkbox" value=""
                                    formControlName="Eligibility" required> <span class="some">I have read the <a
                                        href="#" data-toggle="modal" data-target="#myModal-eligibility">Eligibility
                                        Criteria</a> </span></label>
                            <div class="modal fade" id="myModal-eligibility" role="dialog" aria-hidden="true"
                                style="display: none;">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-body">
                                            <div class="widget-item-model">
                                                <table width="100%" cellspacing="0" cellpadding="10">
                                                    <tbody>
                                                        <tr>
                                                            <td>
                                                                <div class="content">
                                                                    <h2>DOs and DON'Ts of blood donation</h2>
                                                                    <p>In order to ensure safe and health
                                                                        environment to both donors as well as
                                                                        recipients, we greatly recommend to follow
                                                                        the below rules:</p>
                                                                    <h2>DO donate blood, only if you satisfy all of
                                                                        the following conditions</h2>
                                                                    <table cellspacing="0" cellpadding="5">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td valign="top"><img
                                                                                        src="https://www.bloodbankindia.net/bbi_theme/images/do.png"
                                                                                        alt="-" width="10" height="10">
                                                                                </td>
                                                                                <td valign="top">You are between age
                                                                                    group of 18-60 years.</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td valign="top"><img
                                                                                        src="https://www.bloodbankindia.net/bbi_theme/images/do.png"
                                                                                        alt="-" width="10" height="10">
                                                                                </td>
                                                                                <td valign="top">Your weight is 45
                                                                                    kgs or more.</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td valign="top"><img
                                                                                        src="https://www.bloodbankindia.net/bbi_theme/images/do.png"
                                                                                        alt="-" width="10" height="10">
                                                                                </td>
                                                                                <td valign="top">Your hemoglobin is
                                                                                    12.5 gm% minimum.</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td valign="top"><img
                                                                                        src="https://www.bloodbankindia.net/bbi_theme/images/do.png"
                                                                                        alt="-" width="10" height="10">
                                                                                </td>
                                                                                <td valign="top">Your last blood
                                                                                    donation was 3 or more months
                                                                                    earlier.</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td valign="top"><img
                                                                                        src="https://www.bloodbankindia.net/bbi_theme/images/do.png"
                                                                                        alt="-" width="10" height="10">
                                                                                </td>
                                                                                <td valign="top">You are healthy and
                                                                                    have not suffered from malaria,
                                                                                    typhoid or other transmissible
                                                                                    disease in the recent past.</td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                    <h2>DO NOT donate blood, if you have any of the
                                                                        following conditions</h2>
                                                                    <table border="0" cellspacing="0" cellpadding="5">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td valign="top"><img
                                                                                        src="https://www.bloodbankindia.net/bbi_theme/images/dont.png"
                                                                                        alt="-" width="10" height="10">
                                                                                </td>
                                                                                <td valign="top">Cold / fever in the
                                                                                    past 1 week.</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td valign="top"><img
                                                                                        src="https://www.bloodbankindia.net/bbi_theme/images/dont.png"
                                                                                        alt="-" width="10" height="10">
                                                                                </td>
                                                                                <td valign="top">Under treatment
                                                                                    with antibiotics or any other
                                                                                    medication.</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td valign="top"><img
                                                                                        src="https://www.bloodbankindia.net/bbi_theme/images/dont.png"
                                                                                        alt="-" width="10" height="10">
                                                                                </td>
                                                                                <td valign="top">Cardiac problems,
                                                                                    hypertension, epilepsy, diabetes
                                                                                    (on insulin therapy), history of
                                                                                    cancer, chronic kidney or liver
                                                                                    disease, bleeding tendencies,
                                                                                    venereal disease etc.</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td valign="top"><img
                                                                                        src="https://www.bloodbankindia.net/bbi_theme/images/dont.png"
                                                                                        alt="-" width="10" height="10">
                                                                                </td>
                                                                                <td valign="top">Major surgery in
                                                                                    the last 6 months.</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td valign="top"><img
                                                                                        src="https://www.bloodbankindia.net/bbi_theme/images/dont.png"
                                                                                        alt="-" width="10" height="10">
                                                                                </td>
                                                                                <td valign="top">Vaccination in the
                                                                                    last 24 hours.</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td valign="top"><img
                                                                                        src="https://www.bloodbankindia.net/bbi_theme/images/dont.png"
                                                                                        alt="-" width="10" height="10">
                                                                                </td>
                                                                                <td valign="top">Had a miscarriage
                                                                                    in the last 6 months or have
                                                                                    been pregnant / lactating in the
                                                                                    last one year.</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td valign="top"><img
                                                                                        src="https://www.bloodbankindia.net/bbi_theme/images/dont.png"
                                                                                        alt="-" width="10" height="10">
                                                                                </td>
                                                                                <td valign="top">Had fainting
                                                                                    attacks during last donation.
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td valign="top"><img
                                                                                        src="https://www.bloodbankindia.net/bbi_theme/images/dont.png"
                                                                                        alt="-" width="10" height="10">
                                                                                </td>
                                                                                <td valign="top">Have regularly
                                                                                    received treatment with blood
                                                                                    products.</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td valign="top"><img
                                                                                        src="https://www.bloodbankindia.net/bbi_theme/images/dont.png"
                                                                                        alt="-" width="10" height="10">
                                                                                </td>
                                                                                <td valign="top">Shared a needle to
                                                                                    inject drugs/ have history of
                                                                                    drug addiction. </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td valign="top"><img
                                                                                        src="https://www.bloodbankindia.net/bbi_theme/images/dont.png"
                                                                                        alt="-" width="10" height="10">
                                                                                </td>
                                                                                <td valign="top">Had sexual
                                                                                    relations with different
                                                                                    partners or with a high risk
                                                                                    individual.</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td valign="top"><img
                                                                                        src="https://www.bloodbankindia.net/bbi_theme/images/dont.png"
                                                                                        alt="-" width="10" height="10">
                                                                                </td>
                                                                                <td valign="top">Been tested
                                                                                    positive for antibodies to HIV.
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div><!-- modal-body -->
                                        <div class="modal-footer"> <button type="button" class="btn btn-default"
                                                data-dismiss="modal">Close</button> </div>
                                    </div>
                                </div>
                            </div> <br>
                            <label class="checkbox"> <input type="checkbox" value="condition" formControlName="Terms"
                                    required> I
                                agree to the <span class="some"> <a href="#" data-toggle="modal"
                                        data-target="#myModal-terms">Terms and
                                        Conditions</a></span> </label>
                            <div class="modal fade" id="myModal-terms" role="dialog">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-body">
                                            <div class="widget-item-model">
                                                <div class="content">
                                                    <table width="100%" cellspacing="0" cellpadding="10">
                                                        <tbody>
                                                            <tr>
                                                                <td>
                                                                    <h2>Privacy Policy</h2>
                                                                    <p>The BloodBankIndia.net team is committed to
                                                                        protecting the rights of all visitors to our
                                                                        website. We recognize our obligation to keep
                                                                        personal information secure and have created
                                                                        this privacy statement to share our
                                                                        information gathering and dissemination
                                                                        practices for this website. We also assure
                                                                        you that none of your registered information
                                                                        will be shared with any third parties
                                                                        outside the BloodBankIndia.net or the parent
                                                                        company uSiS Technologies. However, the
                                                                        information that you have agreed to
                                                                        broadcast during the process of registration
                                                                        will be available for the public view. </p>
                                                                    <h2>Collection and Use of On-line Information
                                                                    </h2>
                                                                    <p>Our web server automatically collects your IP
                                                                        address when you visit our site. (Your IP
                                                                        address is your computer's unique address
                                                                        that lets other computers attached to the
                                                                        Internet know where to send data, but does
                                                                        not identify you individually). We use your
                                                                        IP address to help diagnose problems with
                                                                        our server and to compile statistics on site
                                                                        usage. We do not make your IP address
                                                                        available to anyone. From time to time, we
                                                                        may also use cookies on your web browser to
                                                                        store some of the user preference, this
                                                                        cookie will communicate only with this
                                                                        website and if you wish not have them saved,
                                                                        you may have them deleted from your computer
                                                                        using your browser’s settings. When you
                                                                        visit certain areas of this site including
                                                                        the registration form, you may be asked to
                                                                        provide personal information (such as name,
                                                                        address, e-mail address, and phone number)
                                                                        that we need to process your request. In the
                                                                        event that you decline to provide such
                                                                        information, we will be unable to process
                                                                        your request. Still, we invite you to
                                                                        continue to visit the site and take
                                                                        advantage of the wealth of information it
                                                                        offers. Every site user who provides us with
                                                                        personal information has the right to
                                                                        inspect, amend, or correct his/her own
                                                                        personal information. You may do so either
                                                                        online by logging in, if you are a
                                                                        registered user, or through simply
                                                                        contacting us using the details posted on
                                                                        the ‘contact us’ page on our website. </p>
                                                                    <h2>Other Websites, Links and Resources </h2>
                                                                    <p>This privacy policy extends to this website
                                                                        (<a
                                                                            href="https://www.bloodbankindia.net">www.bloodbankindia.net</a>)
                                                                        only. If you link to another individual or
                                                                        entity's website through our website or
                                                                        re-directed from our website, you should
                                                                        read the privacy policy specific to that
                                                                        website to determine their practices. If you
                                                                        have any questions or concerns about the
                                                                        online policy for this site or its
                                                                        implementation you may contact us using the
                                                                        details posted on the ‘contact us’ page on
                                                                        our website. </p>
                                                                    <h2>Terms of use </h2>
                                                                    <p>This is purely a non-profit website directed
                                                                        towards the welfare of our community. Any
                                                                        individual or entity that enrolls for our
                                                                        service does so with his/her own will and at
                                                                        no obligation to any one else or any other
                                                                        entity. We seriously condemn the use of this
                                                                        website for any commercial purpose,
                                                                        including solicitation for commercial gain
                                                                        based on the contact details posted by the
                                                                        registered users. We take the privacy of our
                                                                        users very seriously and therefore reserve
                                                                        the right to pursue a legal action against
                                                                        the individuals or entities violating our
                                                                        terms of use. </p>
                                                                    <h2>Use of Donations</h2>
                                                                    <p> We do accept funds in form of donation from
                                                                        those who volunteer themselves to do so;
                                                                        such funds collected will be used for
                                                                        running blood camps at select locations and
                                                                        for covering the part of the administrative
                                                                        expenses at running the website. </p>
                                                                    <h2>Complaints Procedure </h2>
                                                                    <p>Anyone who experiences a problem with the
                                                                        service provided by BloodBankIndia.net
                                                                        should raise the matter directly using our
                                                                        online contact us form, giving sufficient
                                                                        information to locate the material (such as
                                                                        an url) and clearly outlining the grounds
                                                                        for complaint. BloodBankIndia.net team will
                                                                        approach the individual responsible for the
                                                                        material in question with a view to
                                                                        resolving the matter to the satisfaction of
                                                                        the complainant. The formal complaints
                                                                        procedure should only be used where the
                                                                        complainant feels that the nature of the
                                                                        complaint is too serious to be dealt with
                                                                        informally, or where a satisfactory
                                                                        conclusion has not been reached after
                                                                        following the informal procedure. A formal
                                                                        complaint should be made in writing to
                                                                        BloodBankIndia.net team, who will
                                                                        acknowledge receipt and ensure that the
                                                                        matter is looked into at the earliest
                                                                        possible. An initial response to any
                                                                        complaint can be expected within seven days
                                                                        of its receipt; a full and considered
                                                                        response to the complaint should be
                                                                        completed within 30 days and any subsequent
                                                                        remedy implemented with the minimum of
                                                                        delay.</p>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div><!-- model-body -->
                                        <div class="modal-footer"> <button type="button" class="btn btn-default"
                                                data-dismiss="modal">Close</button> </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1"></div>
                </div>
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-10">
                        <div class="form-group form-group-sm" style="float: right;">
                            <button type="submit" class="btn btn-primary"
                                [disabled]="angForm.pristine || angForm.invalid">
                                Register
                            </button>
                        </div>
                    </div>
                    <div class="col-md-1"></div>
                </div>
            </form>
        </div>
        <div class="col-md-1">
        </div>
    </div>
</div>
<br>
<hr>
<footer class="d-flex justify-content-center flex-wrap">
  <div  style="font-size: small;">
      <span >2020<i class="far fa-copyright"></i>HaiPals Messenger Private Limited. All Rights Reserved.</span>&nbsp;
      
      <a routerLink="/privacy">Privacy & Terms</a>
  </div>
</footer>