<app-navbar></app-navbar>
<br>
<h3 class="text-center" style="color: rgb(3,72,168);">Careers</h3>
<div class="container" style="font-size: 16px; text-align: justify; text-justify: inter-word;">
    
    <hr>
    <p><i>HaiPals is proud to be an Equal Employment Opportunity and Affirmative Action employer. We do not
            discriminate based upon race, religion, colour, national origin, sex (including pregnancy, childbirth,
            reproductive health decisions, or related medical conditions), sexual orientation, gender identity,
            gender
            expression, age, status as a protected veteran, status as an individual with a disability, genetic
            information, political views or activity, or other applicable legally protected characteristics.
            HaiPals is committed to providing reasonable accommodations for candidates with disabilities in our
            recruiting process.</i>
    </p>
</div>

<hr>

<div class="container">
    <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-10">
            <h4 class="text-center" style="color: rgb(3,72,168);">Fill the application form</h4><br>
            <form (ngSubmit)="addCareers(angForm.value)" [formGroup]="angForm" novalidate>
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-5">
                        <div class="form-group form-group-sm">
                            <label class="col-md-6">First Name</label>
                            <input type="text" class="form-control input-sm" formControlName="FirstName" #FirstName />
                        </div>
                        <div *ngIf="angForm.controls['FirstName'].invalid && (angForm.controls['FirstName'].dirty || angForm.controls['FirstName'].touched)"
                            class="alert alert-danger">
                            <div *ngIf="angForm.controls['FirstName'].errors.required">
                                First Name is required.
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group form-group-sm">
                            <label class="col-md-6">Last Name</label>
                            <input type="text" class="form-control input-sm" formControlName="LastName" #LastName />
                        </div>
                        <div *ngIf="angForm.controls['LastName'].invalid && (angForm.controls['LastName'].dirty || angForm.controls['LastName'].touched)"
                            class="alert alert-danger">
                            <div *ngIf="angForm.controls['LastName'].errors.required">
                                Last Name is required.
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1"></div>
                </div>
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-10">
                        <div class="form-group form-group-sm">
                            <label class="col-md-6">Email</label>
                            <input type="email" class="form-control input-sm" formControlName="Email" #Email />
                        </div>
                        <div *ngIf="angForm.controls['Email'].invalid && (angForm.controls['Email'].dirty || angForm.controls['Email'].touched)"
                            class="alert alert-danger">
                            <div *ngIf="angForm.controls['Email'].errors.required">
                                Email is required.
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1"></div>
                </div>
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-10">
                        <div class="form-group form-group-sm">
                            <label class="col-md-6">Phone</label>
                            <input type="number" class="form-control input-sm" formControlName="Phone" #Phone />
                            <div *ngIf="angForm.controls['Phone'].invalid && (angForm.controls['Phone'].dirty || angForm.controls['Phone'].touched)"
                                class="alert alert-danger">
                                <div *ngIf="angForm.controls['Phone'].errors.required">
                                </div>
                                Phone is required.
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1"></div>
                </div>
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-10">
                        <label class="col-md-2">Gender:</label>
                        <select class="custom-select form-control" formControlName="Gender" #Gender>
                            <option selected>--Select--</option>
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                            <option value="Other">Other</option>
                        </select>
                        <div *ngIf="angForm.controls['Gender'].invalid && (angForm.controls['Gender'].dirty || angForm.controls['Gender'].touched)"
                            class="alert alert-danger">
                            <div *ngIf="angForm.controls['Gender'].errors.required">
                                Gender is required.
                            </div>
                        </div>
                    </div>

                    <div class="col-md-1"></div>
                </div>
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-5">
                        <div class="form-group form-group-sm">
                            <label class="col-md-6">Address:</label>
                            <input type="text" class="form-control input-sm" formControlName="DoorNo"
                                placeholder="Door No" #DoorNo />
                        </div>
                        <div *ngIf="angForm.controls['DoorNo'].invalid && (angForm.controls['DoorNo'].dirty || angForm.controls['DoorNo'].touched)"
                            class="alert alert-danger">
                            <div *ngIf="angForm.controls['DoorNo'].errors.required">
                                Door No is required.
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group form-group-sm">
                            <label class="col-md-6"> &nbsp;</label>
                            <input type="text" class="form-control input-sm" formControlName="Street"
                                placeholder="Street" #Street />
                        </div>
                        <div *ngIf="angForm.controls['Street'].invalid && (angForm.controls['Street'].dirty || angForm.controls['Street'].touched)"
                            class="alert alert-danger">
                            <div *ngIf="angForm.controls['Street'].errors.required">
                                Street is required.
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1"></div>
                </div>
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-5">
                        <div class="form-group form-group-sm">
                            <input type="text" class="form-control input-sm" formControlName="Line1" placeholder="Line1"
                                #Line1 />
                        </div>
                        <div *ngIf="angForm.controls['Line1'].invalid && (angForm.controls['Line1'].dirty || angForm.controls['Line1'].touched)"
                            class="alert alert-danger">
                            <div *ngIf="angForm.controls['Line1'].errors.required">
                                Line1 is required.
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group form-group-sm">
                            <input type="text" class="form-control input-sm" formControlName="Line2" placeholder="Line2"
                                #Line2 />
                        </div>
                        <div *ngIf="angForm.controls['Line2'].invalid && (angForm.controls['Line2'].dirty || angForm.controls['Line2'].touched)"
                            class="alert alert-danger">
                            <div *ngIf="angForm.controls['Line2'].errors.required">
                                Line2 is required.
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1"></div>
                </div>
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-5">
                        <div class="form-group form-group-sm">
                            <input type="text" class="form-control input-sm" formControlName="City" placeholder="City"
                                #City />
                        </div>
                        <div *ngIf="angForm.controls['City'].invalid && (angForm.controls['City'].dirty || angForm.controls['City'].touched)"
                            class="alert alert-danger">
                            <div *ngIf="angForm.controls['City'].errors.required">
                                City is required.
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group form-group-sm">
                            <input type="text" class="form-control input-sm" formControlName="Pincode"
                                placeholder="Pincode" #Pincode />
                        </div>
                        <div *ngIf="angForm.controls['Pincode'].invalid && (angForm.controls['Pincode'].dirty || angForm.controls['Pincode'].touched)"
                            class="alert alert-danger">
                            <div *ngIf="angForm.controls['Pincode'].errors.required">
                                Pincode is required.
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1"></div>
                </div>
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-5">
                        <div class="form-group form-group-sm">
                            <input type="text" class="form-control input-sm" formControlName="State" placeholder="State"
                                #State />
                        </div>
                        <div *ngIf="angForm.controls['State'].invalid && (angForm.controls['State'].dirty || angForm.controls['State'].touched)"
                            class="alert alert-danger">
                            <div *ngIf="angForm.controls['State'].errors.required">
                                State is required.
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group form-group-sm">
                            <input type="text" class="form-control input-sm" formControlName="Country"
                                placeholder="Country" #Country />
                        </div>
                        <div *ngIf="angForm.controls['Country'].invalid && (angForm.controls['Country'].dirty || angForm.controls['Country'].touched)"
                            class="alert alert-danger">
                            <div *ngIf="angForm.controls['Country'].errors.required">
                                Country is required.
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1"></div>
                </div>
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-10">
                        <div class="form-group">
                            <label class="col-md-2">Resume</label>
                            <span class="ng-scope"></span><input type="file" (change)="upload($event)"
                                formControlName="Resume" #Resume>

                        </div>
                    </div>
                    <div *ngIf="angForm.controls['Resume'].invalid && (angForm.controls['Resume'].dirty || angForm.controls['FirstName'].touched)"
                        class="alert alert-danger">
                        <div *ngIf="angForm.controls['Resume'].errors.required">
                            Resume is required.
                        </div>
                    </div>
                    <div class="col-md-1"></div>
                </div>
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-10">
                        <div class="form-group form-group-sm">
                            <label class="col-md-6">LinkedIn Profile</label>
                            <input type="text" class="form-control input-sm" formControlName="LinkedIn" #LinkedIn />
                        </div>
                    </div>
                    <div class="col-md-1"></div>
                </div>
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-10">
                        <div class="form-group form-group-sm">
                            <label class="col-md-12">Have you been previously employed with Facebook, Whatsapp or
                                Tencent? (If yes, please specify) </label>
                            <textarea type="textarea" class="form-control input-sm" rows=5 formControlName="Experience"
                                #Experience></textarea>
                        </div>
                    </div>
                    <div class="col-md-1"></div>
                </div>
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-10">
                        <div class="row">
                            <div class="col-md-12 container">
                                <div class="form-group form-group-sm">
                                    <label class="form-check-label">
                                        <input id="checkTerms" class="form-check-input" type="checkbox" value=""
                                            formControlName="privacy" required>
                                        <span class="form-check-sign" for="checkTerms">
                                            <span class="check"></span>
                                        </span>
                                        I agree with the <a href="/privacy">Privacy and Terms.</a>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1 ">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-10">
                        <div class="form-group form-group-sm" style="float: right;">
                            <button type="submit" class="btn btn-primary"
                                [disabled]="angForm.pristine || angForm.invalid">
                                Register
                            </button>
                        </div>
                    </div>
                    <div class="col-md-1"></div>
                </div>
            </form>
        </div>
        <div class="col-md-1">
        </div>
    </div>
</div>
<hr>
<div class="row container-fluid" style="line-height: 0pt;">
  <div class="col-md-3">
  </div>
  <div class="col-md-6">
    <footer class="footer">
      <div class="container-fluid text-center">
          <p style="font-size: small;">2020<i class="far fa-copyright"></i>HaiPals Messenger Private Limited. All Rights Reserved.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    
            <a href="/privacy">Privacy & Terms</a>
      </div>
    </footer>
  </div>
  <div class="col-md-3">
  </div>
</div>