<app-navbar></app-navbar>
<br>
<div class="container-fluid">
    <h5 style="color: rgb(3, 72, 168);">Select your category for HaiPals Advertisement :</h5>
    <hr>
    <div class="row">

        <div class="col-md-4">
            <a>
                <div class="container" style="position: relative;">
                    <img src="assets/property.png" alt="Avatar" class="image" width="130px" height="80px">
                    <div class="centered"><b>Property</b></div>
                    <div class="centered2">Buy, Rent, Sale, Lease</div>
                    <div class="overlay">
                        <div class="text">Select For:</div>
                        <div class="text2">Buy or Sell your property,land,premises,accommodation throughout India by
                            advertising in.
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-4">
            <a>
                <div class="container" style="position: relative;">
                    <img src="assets/recruitment.jpg" alt="Avatar" class="image" width="130px" height="80px">
                    <div class="centered"><b>Recruitment</b></div>
                    <div class="centered2">Abroad/Vacant</div>
                    <div class="overlay">
                        <div class="text">Select For:</div>
                        <div class="text2">Hire employees by advertising in newspapers under the subcategory like
                            situation vacant,
                            multiple vacancies, situation abroad etc.</div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-4">
            <a>
                <div class="container" style="position: relative;">
                    <img src="assets/business.jpg" alt="Avatar" class="image" width="130px" height="80px">
                    <div class="centered"><b>Business</b></div>
                    <div class="centered2"> Proposals,Offers </div>
                    <div class="overlay">
                        <div class="text">Select For:</div>
                        <div class="text2">For offering business proposals, place your ads under the sub-categories like
                            agents &
                            agencies, business offers, franchisee, etc. </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-4">
            <a>
                <div class="container" style="position: relative;">
                    <img src="assets/vehicle.jpg" alt="Avatar" class="image" width="130px" height="80px">
                    <div class="centered"><b>Vehicles</b></div>
                    <div class="centered2"> Dealers, Auto Services </div>
                    <div class="overlay">
                        <div class="text">Select for:</div>
                        <div class="text2">Buy or Sell your vehicles by placing ads under a particular subcategory to
                            get more
                            responses. </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-4">
            <a>
                <div class="container" style="position: relative;">
                    <img src="assets/education.jpg" alt="Avatar" class="image" width="130px" height="80px">
                    <div class="centered"><b>Education</b></div>
                    <div class="centered2"> School,Institution </div>
                    <div class="overlay">
                        <div class="text">Select for:</div>
                        <div class="text2"> Advertise professional courses, distance education,abroad courses in
                            different formats
                            in leading newspapers . </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-4">
            <a>
                <div class="container" style="position: relative;">
                    <img src="assets/service.jpg" alt="Avatar" class="image" width="130px" height="80px">
                    <div class="centered"><b>Services</b></div>
                    <div class="centered2"> Catering, Instructors... </div>
                    <div class="overlay">
                        <div class="text">Select for:</div>

                        <div class="text2"> If you are looking for job opportunities then advertise under this category
                            and choose a sub category as per your requirement. </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-4">
            <a>
                <div class="container" style="position: relative;">
                    <img src="assets/travel.jpg" alt="Avatar" class="image" width="130px" height="80px">
                    <div class="centered"><b>Travel</b></div>
                    <div class="centered2"> Holidays, Hotel & Resorts </div>
                    <div class="overlay">
                        <div class="text">Select for:</div>
                        <div class="text2">Advertise tour packages, hotels and resorts , trip planners, agents and
                            travel agencies
                            ads under this category . </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-4">
            <a>
                <div class="container" style="position: relative;">
                    <img src="assets/computer.jpg" alt="Avatar" class="image" width="130px" height="80px">
                    <div class="centered"><b>Computers</b></div>
                    <div class="centered2"> Services, Dotcoms </div>
                    <div class="overlay">
                        <div class="text">Select for:</div>
                        <div class="text2"> Looking to buy or sale computer parts? Then advertise under this category to
                            reach out
                            to your target customers. </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-4">
            <a>
                <div class="container" style="position: relative;">
                    <img src="assets/public.png" alt="Avatar" class="image" width="130px" height="80px">
                    <div class="centered"><b>Public Notice</b></div>
                    <div class="centered2"> Public Notices </div>

                    <div class="overlay">
                        <div class="text">Select for:</div>
                        <div class="text2"> Book High court and companies notice ads under this category to highlight
                            the
                            information circulated for the mass. </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
<hr>
<h4 class="text-center" style="color: rgb(3, 72, 168);">Post your Advertisement Here</h4>
<h5 class="text-center blinking" style="color: red;">Product Launch Offer:</h5>
<hr>
<div class="alert alert-success" role="alert">
    <marquee width="100%" direction="left" height="20px">
        Your advertisement will be displayed all over
        the world by the people installed HaiPals Messenger App in their Mobile.&nbsp;&nbsp;The Advertisement time will be from 00:00:01 Hrs to 23:59:59 Hrs Only.
    </marquee>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-10">
            <form (ngSubmit)="addAds(payForm.value)" [formGroup]="payForm" novalidate>
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-10">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group form-group-sm">
                                    <label class="col-md-6"><b style="color:red;font-size: 20px;">*</b> Country</label>
                                    <select class="form-control form-control-sm" [(ngModel)]="selectedCountry.id"
                                        (change)="onSelect1($event.target.value)" formControlName="Country" required>
                                        <option value="0">--Select--</option>
                                        <option *ngFor="let country of countries" value={{country.id}}>
                                            {{country.name}}</option>
                                    </select>

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group form-group-sm">
                                    <label class="col-md-6"><b style="color:red;font-size: 20px;">*</b> Region</label>
                                    <select class="form-control form-control-sm" formControlName="Region">
                                        <option value="">--Select--</option>
                                        <option *ngFor="let state of states " value={{state.id}}>{{state.name}}
                                        </option>
                                    </select>
                                    <div *ngIf="payForm.controls['Region'].invalid && (payForm.controls['Region'].dirty || payForm.controls['Region'].touched)"
                                        class="alert-danger">
                                        <div *ngIf="payForm.controls['Region'].errors.required">
                                            <small>Region is required.</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group form-group-sm" *ngFor="let country of curren">
                                    <label class="col-md-6"><b style="color:red;font-size: 20px;">*</b> Amount</label>
                                    <input class="form-control form-control-sm" formControlName="Amount" #Amount
                                        value={{country.symbol}}{{country.rate}} disabled>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1"></div>
                </div>
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-10">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group form-group-sm">
                                    <label class="col-md-6"><b style="color:red;font-size: 20px;">*</b> Category</label>
                                    <select class="form-control form-control-sm" formControlName="Category"
                                        [(ngModel)]="selectedCategory.id" (change)="onSelect($event.target.value)">
                                        <option value="0">--Select--</option>
                                        <option *ngFor="let category of categories" value={{category.id}}>
                                            {{category.name}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group form-group-sm">
                                    <label class="col-md-6"><b style="color:red;font-size: 20px;">*</b> Sub
                                        Category</label>
                                    <select class="form-control form-control-sm" formControlName="Subcat">
                                        <option value="0">--Select--</option>
                                        <option *ngFor="let subcat of subcats " value={{subcat.id}}>{{subcat.name}}
                                        </option>
                                    </select>
                                    <div *ngIf="payForm.controls['Subcat'].invalid && (payForm.controls['Subcat'].dirty || payForm.controls['Subcat'].touched)"
                                        class="alert-danger">
                                        <div *ngIf="payForm.controls['Subcat'].errors.required">
                                        </div>
                                        <small>Sub Category is required.</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1"></div>
                </div>
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-10">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group form-group-sm">
                                    <label class="col-md-6"><b style="color:red;font-size: 20px;">*</b> Contact
                                        Details</label>
                                    <select class="form-control form-control-sm" formControlName="Contact"
                                        (change)="onContact(payForm.value)">
                                        <option value="0">--Select--</option>
                                        <option value="Email">Email</option>
                                        <option value="Mobile">Mobile</option>
                                    </select>
                                    <div *ngIf="payForm.controls['Contact'].invalid && (payForm.controls['Contact'].dirty || payForm.controls['Contact'].touched)"
                                        class="alert-danger">
                                        <div *ngIf="payForm.controls['Contact'].errors.required">
                                            <small>Contact Detail is required.</small>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div *ngIf="mobile" class="col-md-6">
                                <div class="form-group form-group-sm">
                                    <label class="col-md-12"><b style="color:red;font-size: 20px;">*</b> Mobile <small
                                            style="font-size: 12px;">(*Your contact details will be displayed
                                            on
                                            the Ad)</small></label>
                                    <input type="Number" class="form-control form-control-sm" formControlName="Mobile">
                                    <div *ngIf="payForm.controls['Mobile'].invalid && (payForm.controls['Mobile'].dirty || payForm.controls['Mobile'].touched)"
                                        class="alert-danger">
                                        <div *ngIf="payForm.controls['Mobile'].errors.required">
                                            <small>Mobile is required.</small>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div *ngIf="email" class="col-md-6">
                                <div class="form-group form-group-sm">
                                    <label class="col-md-12"><b style="color:red;font-size: 20px;">*</b> Email <small
                                            style="font-size: 12px;">(*Your contact details will be displayed
                                            on
                                            the Ad)</small></label>
                                    <input type="email" class="form-control form-control-sm" formControlName="Email">
                                    <div *ngIf="payForm.controls['Email'].invalid && (payForm.controls['Email'].dirty || payForm.controls['Email'].touched)"
                                        class="alert-danger">
                                        <div *ngIf="payForm.controls['Email'].errors.required">
                                            <small>Email is required.</small>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1"></div>
                </div>
                <p class="text-center"><b>NOTE:Please update your advertisement in either Description or Image
                        format</b></p>
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-10">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group form-group-sm">
                                    <label class="col-md-12"><b style="color:red;font-size: 20px;">*</b> Description
                                    </label>
                                    <textarea type="textarea" class="form-control form-control-sm" rows=6
                                        formControlName="Description" #Description [(ngModel)]="role"
                                        [maxlength]="maxChars" (change)="onChanges(payForm.value)"></textarea>
                                </div>
                                <label class="nopadding clrlbl"> Characters Remaining:
                                    {{role.length}}/{{maxChars}}</label>
                                <div *ngIf="payForm.controls['Description'].invalid && (payForm.controls['Description'].dirty || payForm.controls['Description'].touched)"
                                    class="alert-danger">
                                    <div *ngIf="payForm.controls['Description'].errors.required">
                                        <small>Description is required.</small>
                                    </div>

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group files color">
                                    <label class="col-md-12"><b style="color:red;font-size: 20px;">*</b> Image<small>
                                            (Only Landscape and .jpg or
                                            .png)</small></label>
                                    <span class="ng-scope"></span><input type="file" (change)="upload($event)"
                                        (change)="upload1($event)" accept=".png,.jpg" formControlName="Advertisement"
                                        #Advertisement>
                                </div>
                                <div *ngIf="payForm.controls['Advertisement'].invalid && (payForm.controls['Advertisement'].dirty || payForm.controls['Advertisement'].touched)"
                                    class="alert-danger">
                                    <div *ngIf="payForm.controls['Advertisement'].errors.required">
                                        <small>Advertisement is required.</small>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-1"></div>
                </div>

                <h4 class="text-center">Select Date</h4>
                <hr>
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-10">

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group form-group-sm">
                                    <label class="col-md-6"><b style="color:red;font-size: 20px;">*</b> Days</label>
                                    <select class="form-control form-control-sm" formControlName="Days" #Days>
                                        <option value="0">--Select--</option>
                                        <option value="1">1</option>
                                    </select>
                                    <div *ngIf="payForm.controls['Days'].invalid && (payForm.controls['Days'].dirty || payForm.controls['Days'].touched)"
                                        class="alert-danger">
                                        <div *ngIf="payForm.controls['Days'].errors.required">
                                            <small>Days is required.</small>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group form-group-sm">
                                    <label class="col-md-6"><b style="color:red;font-size: 20px;">*</b> Select
                                        Date</label>
                                    <input class= "form-control form-control-sm " id="datepicker" type="date" [min]="minDate"
                                        formControlName="Date">
                                    <div *ngIf="payForm.controls['Date'].invalid && (payForm.controls['Date'].dirty || payForm.controls['Date'].touched)"
                                        class="alert-danger">
                                        <div *ngIf="payForm.controls['Date'].errors.required">
                                            <small>Date is required.</small>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1"></div>
                </div>
                <hr>
                <div class="text-center">
                    <button type="button" class="btn btn-primary" (click)="preview1(payForm.value)">Click here for
                        Preview your Ads</button>
                </div>
                <br>
                <div *ngIf="show">
                    <div class="row">

                        <div class="col-md-3"></div>
                        <div class="col-md-6">
                            <div *ngIf="des">
                                <div class="card">
                                    <div class="card-header" style="background-color: rgb(3, 72,168);color: #ffff;">
                                        <small> <b *ngFor="let subcat of cat ">
                                                {{subcat.name}}/
                                                <a *ngFor="let sc of subc "> {{sc.name}}</a>/ {{this.mob || this.emai}}
                                            </b></small>
                                    </div>
                                    <div class="text-center">
                                        <textarea class="form-control form-control-sm container" type="textarea" rows=7
                                            disabled>{{this.description2}}</textarea>

                                    </div>
                                </div>
                            </div>
                            <div *ngIf="adimage">
                                <div class="card">
                                    <div class="card-header" style="background-color: rgb(3, 72,168);color: #ffff;">
                                        <small> <b *ngFor="let subcat of cat ">
                                                {{subcat.name}}/
                                                <a *ngFor="let sc of subc "> {{sc.name}}</a>/ {{this.mob || this.emai}}
                                            </b></small>
                                    </div>
                                    <div class="card-header text-center" *ngIf="previewUrl">
                                        <img [src]="previewUrl" height="133" width="350" />

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                    <br>
                    <h4 class="text-center">Booking Summary</h4>
                    <div class="row">

                        <div class="col-md-1"></div>
                        <div class="col-md-10">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">Ads <br>Title</th>
                                        <th scope="col">Booking<br> Location</th>
                                        <th scope="col">Billing <br>Date</th>
                                        <th scope="col">Booking <br>Date</th>
                                        <th scope="col">Amount</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><small><b>{{this.f_cat}} / {{this.f_subc}}</b></small></td>

                                        <td><small> <b *ngFor="let subcat of cunt ">
                                                    {{subcat.name}} -
                                                    <a *ngFor="let sc of state "> {{sc.name}}</a>
                                                </b></small></td>
                                        <td><small><b>{{today | date:'yyyy-MM-dd h:mm a'}}</b></small></td>
                                        <td><small><b>{{this.date3}}<br>(00:00:00 Hrs to<br> 23:59:59 Hrs)</b></small>
                                        </td>
                                        <td scope="col" *ngFor="let country of curren">
                                            <table>
                                                <thead>
                                                    <tr>
                                                        <th scope="col"><small><b>Basic Rate:</b></small></th>
                                                        <th scope="col">
                                                            <small><b>{{country.symbol}}{{country.rate}}</b></small>
                                                        </th>
                                                    </tr>
                                                    <tr>
                                                        <th scope="col"><small><b>Transaction <br>Fee:</b></small></th>
                                                        <th scope="col"><small><b>{{this.tran}}</b></small></th>
                                                    </tr>
                                                    <tr>
                                                        <th scope="col"><small><b>GST(18%):</b></small></th>
                                                        <th scope="col"><small><b>{{this.gst}}</b></small></th>
                                                    </tr>

                                                </thead>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td *ngFor="let country of curren">
                                            <table>
                                                <thead>
                                                    <tr>
                                                        <th scope="col"><small><b>Total Cost:</b></small></th>
                                                        <th scope="col">
                                                            <small><b>{{country.total}}</b></small>
                                                        </th>
                                                    </tr>
                                                </thead>
                                            </table>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-md-1"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-10">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group form-group-sm">
                                    <label class="form-check-label">
                                        <input id="checkTerms" class="form-check-input" type="checkbox"
                                            formControlName="privacy" required>
                                        <span class="form-check-sign" for="checkTerms">
                                            <span class="check"></span>
                                        </span>
                                        I agree with the <a href="/privacy">Privacy and Terms.</a><b
                                            style="color:red;font-size: 20px;">*</b>
                                    </label>
                                    <div *ngIf="payForm.controls['privacy'].invalid && (payForm.controls['privacy'].dirty || payForm.controls['privacy'].touched)"
                                        class="alert-danger">
                                        <div *ngIf="payForm.controls['privacy'].errors.required">
                                            <small>You must accept the privacy and terms.</small>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1 ">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-10">
                        <div class="form-group form-group-sm text-center">
                            <button type="submit" class="btn btn-primary"
                                [disabled]="payForm.pristine || payForm.invalid">
                                Proceed for Payment
                            </button>
                        </div>
                    </div>
                    <div class="col-md-1"></div>
                </div>
            </form>
        </div>
        <div class="col-md-1">
        </div>
    </div>
</div>
<hr>
<div class="row container-fluid" style="line-height: 0pt;">
    <div class="col-md-3">
    </div>
    <div class="col-md-6">
        <footer class="footer">
            <div class="container-fluid text-center">
                <p style="font-size: small;">2020<i class="far fa-copyright"></i>HaiPals Messenger Private Limited. All
                    Rights Reserved.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                    <a href="/privacy">Privacy & Terms</a>
            </div>
        </footer>
    </div>
    <div class="col-md-3">
    </div>
</div>
