<div class="row text-center container-fluid">
    <div class="col-md-1"></div>
    <div class="col-md-7">
        <br><br><br>
        <div class="row text-center container">
            <div class="col-md-12">
                <h5 style="color: rgb(0, 72, 168); font-size: 15px;">TEXTS</h5>
                <h3 style="color: rgb(0, 72, 168);">Simple, Reliable Messaging</h3>
                <br>
                <p><i>Message your friends and family for free*. HaiPals uses your phone's Internet connection to send
                        messages so you can avoid SMS fees.</i></p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <img src="assets/c1.PNG" width="200px" height="350px">
        <p style="font-size: 12px;">* Data charges may apply. Contact your provider for details.</p>
    </div>
    <div class="col-md-1"></div>
</div>
<br>
<hr>
<br>
<div class="row text-center container-fluid">
    <div class="col-md-1"></div>
    <div class="col-md-3">
        <img src="assets/c2.PNG" width="200px" height="350px">
    </div>
    <div class="col-md-7">
        <br><br>
        <div class="row text-center container">
            <div class="col-md-12">
                <h5 style="color: rgb(0, 72, 168); font-size: 15px;">GROUP CHAT</h5>
                <h3 style="color: rgb(0, 72, 168);">Groups to keep in touch</h3>
                <br>
                <p><i>Keep in touch with the groups of people that matter the most, like your family or coworkers. With
                        group chats, you can share messages, photos, and videos with up to 256 people at once. You can
                        also name your group, mute or customize notifications, and more.</i></p>
            </div>
        </div>
    </div>

    <div class="col-md-1"></div>
</div>
<br>
<hr>
<br>
<div class="row text-center container-fluid">
    <div class="col-md-1"></div>

    <div class="col-md-7">
        <br><br>
        <div class="row text-center container">
            <div class="col-md-12">
                <h5 style="color: rgb(0, 72, 168); font-size: 15px;">HAIPALS VOICE AND VIDEO CALLS</h5>
                <h3 style="color: rgb(0, 72, 168);">Speak Freely</h3>
                <br>
                <p><i>With voice calls, you can talk to your friends and family for free*, even if they're in another
                        country. And with free* video calls, you can have face-to-face conversations for when voice or
                        text just isn't enough. HaiPals voice and video calls use your phone's Internet connection,
                        instead of your cell plan's voice minutes, so you don't have to worry about expensive calling
                        charges.</i></p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <img src="assets/c3.PNG" width="200px" height="350px">
        <p style="font-size: 12px;">* Data charges may apply. Contact your provider for details.</p>
    </div>
    <div class="col-md-1"></div>
</div>
<br>
<hr>
<br>
<div class="row text-center container-fluid">
    <div class="col-md-1"></div>
    <div class="col-md-3">
        <img src="assets/c4.PNG" width="200px" height="350px">
    </div>
    <div class="col-md-7">
        <br><br>
        <div class="row text-center container">
            <div class="col-md-12">
                <h5 style="color: rgb(0, 72, 168); font-size: 15px;">WHATSAPP ON WEB AND DESKTOP</h5>
                <h3 style="color: rgb(0, 72, 168);">Keep the Conversation Going</h3>
                <br>
                <p><i>With HaiPals on the web and desktop, you can seamlessly sync all of your chats to your computer so
                        that you can chat on whatever device is most convenient for you. Download the <a href="">desktop
                            app</a> or visit <a href="">web.haipals.com</a> to get started.</i></p>
            </div>
        </div>
    </div>

    <div class="col-md-1"></div>
</div>
<br>
<hr>
<br>
<div class="row text-center container-fluid">
    <div class="col-md-1"></div>

    <div class="col-md-7">
        <br><br>
        <div class="row text-center container">
            <div class="col-md-12">
                <h5 style="color: rgb(0, 72, 168); font-size: 15px;">PHOTOS AND VIDEOS</h5>
                <h3 style="color: rgb(0, 72, 168);">Share Moments that Matter</h3>
                <br>
                <p><i>Send photos and videos on WhatsApp instantly. You can even capture the moments that matter to you
                        most with a built-in camera. With HaiPals, photos and videos send quickly even if you're on a
                        slow connection.</i></p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <img src="assets/c3.PNG" width="200px" height="350px">
        <p style="font-size: 12px;">* Data charges may apply. Contact your provider for details.</p>
    </div>
    <div class="col-md-1"></div>
</div>
<br>
<hr>
<br>
<div class="row text-center container-fluid">
    <div class="col-md-1"></div>
    <div class="col-md-3">
        <img src="assets/c4.PNG" width="200px" height="350px">
    </div>
    <div class="col-md-7">
        <br><br>
        <div class="row text-center container">
            <div class="col-md-12">
                <h5 style="color: rgb(0, 72, 168); font-size: 15px;">DOCUMENTS</h5>
                <h3 style="color: rgb(0, 72, 168);">Document Sharing Made Easy
                </h3>
                <br>
                <p><i>Send PDFs, documents, spreadsheets, slideshows and more, without the hassle of email or file
                        sharing apps. You can send documents up to 100 MB, so it's easy to get what you need over to who
                        you want.</i></p>
            </div>
        </div>
    </div>

    <div class="col-md-1"></div>
</div>
<br>
<hr>
<br>
<div class="row text-center container-fluid">
    <div class="col-md-1"></div>

    <div class="col-md-7">
        <br><br>
        <div class="row text-center container">
            <div class="col-md-12">
                <h5 style="color: rgb(0, 72, 168); font-size: 15px;">VOICE MESSAGES</h5>
                <h3 style="color: rgb(0, 72, 168);">Say What's On Your Mind</h3>
                <br>
                <p><i>Sometimes, your voice says it all. With just one tap you can record a Voice Message, perfect for a
                        quick hello or a longer story.</i></p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <img src="assets/c3.PNG" width="200px" height="350px">
        <p style="font-size: 12px;">* Data charges may apply. Contact your provider for details.</p>
    </div>
    <div class="col-md-1"></div>
</div>
<hr>
<div class="row container-fluid" style="line-height: 0pt;">
  <div class="col-md-3">
  </div>
  <div class="col-md-6">
    <footer class="footer">
      <div class="container-fluid text-center">
          <p style="font-size: small;">2020<i class="far fa-copyright"></i>HaiPals Messenger Private Limited. All Rights Reserved.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    
            <a href="/privacy">Privacy & Terms</a>
      </div>
    </footer>
  </div>
  <div class="col-md-3">
  </div>
</div>