.image {
    display: block;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgb(3,72,168);
  }
  
  .container:hover .overlay {
    opacity: 1;
  }
  .container2:hover .overlay {
    opacity: 1;
  }
  .text {
    color: white;
    font-size: 18px;
    position: absolute;
    top: 20%;
    left: 10%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .text2 {
      display: block;
    color: white;
    font-size: 14px;
    position: absolute;
    top: 60%;
    left: 50%;
    width: 100%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  .centered {
    position: absolute;
    top: 30%;
    left: 70%;
    transform: translate(-50%, -50%);
  }
  .centered2 {
      display: block;
    position: absolute;
    top: 65%;
    left: 100%;
    width: 100%;
    transform: translate(-50%, -50%);
  }
  