<app-navbar></app-navbar>
<br>
<div class="container-fluid">
    <h3 style="background-color: rgb(155, 155, 155);">Select your category for Haipals Messenger
        Classifieds below :</h3><br>
    <div class="row">
        <div class="col-md-4">
            <a>
                <div class="container" style="position: relative;">
                    <img src="assets/property.png" alt="Avatar" class="image" width="150px" height="100px"> 
                    <div class="centered" ><b>Property</b></div>
                    <div class="centered2" >Buy, Rent, Sale, Lease</div>
                    <div class="overlay">
                      <div class="text">Select For:</div>
                      <div class="text2">Buy or Sell your property,land,premises,accommodation throughout India by advertising in.</div>
                    </div>
                  </div>
            </a>
        </div>
        <div class="col-md-4">
           <a>
                <div class="container" style="position: relative;">
                    <img src="assets/property.png" alt="Avatar" class="image" width="150px" height="100px"> 
                    <div class="centered" ><b>Recruitment</b></div>
                    <div class="centered2" >Situations Vacant/Wanted</div>
                    <div class="overlay">
                      <div class="text">Select For:</div>
                      <div class="text2">Hire employees by advertising in newspapers under the subcategory like situation vacant, multiple vacancies, situation abroad etc.</div>
                    </div>
                  </div>
            </a>
        </div>
        <div class="col-md-4">
            <a>
                <div class="container" style="position: relative;">
                    <img src="assets/property.png" alt="Avatar" class="image" width="150px" height="100px"> 
                    <div class="centered" ><b>Business</b></div>
                    <div class="centered2" > Proposals,Offers </div>
                    <div class="overlay">
                      <div class="text">Select For:</div>
                      <div class="text2">For offering business proposals, place your ads under the sub-categories like agents & agencies, business offers, franchisee, etc. </div>
                    </div>
                  </div>
            </a>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-4">
            <a>
                <div class="container" style="position: relative;">
                    <img src="assets/property.png" alt="Avatar" class="image" width="150px" height="100px"> 
                    <div class="centered" ><b>Vehicles</b></div>
                    <div class="centered2" > Dealers, Auto Services  </div>
                    <div class="overlay">
                      <div class="text">Select for:</div>
                      <div class="text2">Buy or Sell your vehicles by placing ads under a particular subcategory to get more responses.  </div>
                    </div>
                  </div>
            </a>
        </div>
        <div class="col-md-4">
            <a>
                <div class="container" style="position: relative;">
                    <img src="assets/property.png" alt="Avatar" class="image" width="150px" height="100px"> 
                    <div class="centered" ><b>Services</b></div>
                    <div class="centered2" >  Catering, Instructors.. </div>
                    <div class="overlay">
                      <div class="text">Select for:</div>
                      <div class="text2">  If you are looking for job opportunities then advertise under this category and choose a sub category as per your requirement. </div>
                    </div>
                  </div>
            </a>
        </div>
        <div class="col-md-4">
            <a>
                <div class="container" style="position: relative;">
                    <img src="assets/property.png" alt="Avatar" class="image" width="150px" height="100px"> 
                    <div class="centered" ><b>To Rent</b></div>
                    <div class="centered2" >  House & Flat to let </div>
                    <div class="overlay">
                      <div class="text">Select for:</div>
                      <div class="text2"> Want to give your  flat /commercial premises or shop on rent? Then advertise in your prefered  newspapers under this category .  </div>
                    </div>
                  </div>
            </a>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-4">
            <a>
                <div class="container" style="position: relative;">
                    <img src="assets/property.png" alt="Avatar" class="image" width="150px" height="100px"> 
                    <div class="centered" ><b>Travel</b></div>
                    <div class="centered2" > Holidays, Hotel & Resorts  </div>
                    <div class="overlay">
                      <div class="text">Select for:</div>
                      <div class="text2">Advertise tour packages, hotels and resorts , trip planners, agents and travel agencies ads under this category .  </div>
                    </div>
                  </div>
            </a>
        </div>
        <div class="col-md-4">
            <a>
                <div class="container" style="position: relative;">
                    <img src="assets/property.png" alt="Avatar" class="image" width="150px" height="100px"> 
                    <div class="centered" ><b>Computers</b></div>
                    <div class="centered2" >  Services, Dotcoms </div>
                    <div class="overlay">
                      <div class="text">Select for:</div>
                      <div class="text2"> Looking to buy or sale computer parts? Then advertise under this category to reach out to your target customers. </div>
                    </div>
                  </div>
            </a>
        </div>
        <div class="col-md-4">
            <a>
                <div class="container" style="position: relative;">
                    <img src="assets/property.png" alt="Avatar" class="image" width="150px" height="100px"> 
                    <div class="centered" style="font-size: 16px; left: 260px;"><b>Other Categories</b></div>
                    <div class="centered2" >  Click Here</div>
                  </div>
            </a>
        </div>
    </div>
</div>
<br>
<h1 class="text-center">HaiPals Advertisement Rate Card <a href="/advertisement">INDIA</a>&nbsp;<a href="">International</a></h1>