<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <div class="fb-header">
      <div id="form1" class="fb-header">Email or Phone<br>
        <input type="number" name="name" /><br></div>
    
      <div id="form2" class="fb-header">Password<br>
        <input type="password" name="password" /><br>
        <a routerLink="">Forgotten your password?</a>
      </div>
    </div>
    <input type="submit" class="submit1" value="Login" />
    <br>
  </div>
</nav>


<router-outlet></router-outlet>
<!--/.Navbar-->
<hr>
<footer id="sticky-footer" class="py-4">
  <div class="text-center">
    Copyright © 2020 HAIPALS MESSENGER Inc. All Rights Reserved.&nbsp;
  </div>
</footer>