<app-navbar></app-navbar>
<br>
<div class="row text-center container-fluid justify-content-center">
    <div class="col-md-4">
        <img src="assets/home.jpg" width="300px" height="490px">
    </div>
    
    <div class="col-md-8">
        <br><br>
        <br>
        <h3 class="text-center" style="color: rgb(0, 72, 168);">Who We Are</h3>
        <div class="row">
            
            <div class="col-md-12" style="text-align: justify; text-justify: inter-word;">
                
                <p><i>HaiPals Messenger uses technology to enrich the lives of Internet users. Our
                        messaging app
                        and
                        social
                        platforms connect users with each other, with digital content and daily life services in
                        just a
                        few clicks.
                        Our high-performance advertising platform helps brands and marketers reach out to hundreds
                        of
                        millions of
                        consumers in India. Our financial technology and business services support our partners'
                        business growth and
                        assist their digital upgrade. We invest heavily in talent and technological innovation,
                        actively
                        participating in the development of the Internet industry.</i></p>
            </div>
        </div>
        <hr>
        <div class="row text-center">
            <div class="col-md-12">
                <div class="text-center" >
                    <h3 style="color: rgb(0, 72, 168); line-height: 1.8;">Vission & Mission</h3>
                </div>
                <div style="text-align: justify; text-justify: inter-word;">
                    <p><i>User value is our guiding principle, we strive to incorporate social
                            responsibility
                            into our
                            products
                            and
                            services.
                            To promote technology, innovation and cultural vitality for helping industries to
                            digitally
                            upgrade and
                            collaborate for the sustainable development of the society.</i></p>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>
<div class="row container-fluid" style="line-height: 0pt;">
  <div class="col-md-3">
  </div>
  <div class="col-md-6">
    <footer class="footer">
      <div class="container-fluid text-center">
          <p style="font-size: small;">2020<i class="far fa-copyright"></i>HaiPals Messenger Private Limited. All Rights Reserved.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    
            <a href="/privacy">Privacy & Terms</a>
      </div>
    </footer>
  </div>
  <div class="col-md-3">
  </div>
</div>