<app-navbar></app-navbar>
<div class="row container">
    <div class="col-md-2">
    </div>
    <div class="col-md-8" style="margin-top:70px">
        <p style="font-size: 30px;">HaiPals Messenger Legal Info</p><br>
        <p style="font-size: 15px;"><i>If you don't live in the Indian Sub-Continent, HaiPals Messenger Pvt Ltd.
                provides HAIPALS to you under this Terms of Service and Privacy Policy.
            </i></p><br>
        <div id="key">
            <h3>Key Updates</h3>
            <p style="font-size: 15px;">Respect for your privacy is coded into our DNA. Since we started Haipals
                messenger (P) LTD
                we’ve built our Services with a set of strong privacy principles in mind. In our updated Terms and
                Privacy Policy you’ll find:</p>
            <ul style="font-size: 15px;">
                <li><b>Information that is easier to understand.</b> Our updated Terms and Privacy Policy are easier
                    to understand and reflect new features such as Haipals messenger and Haipals messenger for
                    web and desktop.</li><br>
                <li><b>Your messages are yours, and we can’t read them.</b> We’ve built privacy, end-to-end encryption,
                    and other security features into Haipals messenger. We don’t store your messages once they’ve been
                    delivered. When they are end-to-end encrypted, we and third parties can’t read them. </li><br>
                <li><b>Third-party banner ads.</b> We allow third-party banner ads on Haipals messenger. </li><br>
                <li><b>New ways to use Haipals messenger. </b>We will explore ways for you and businesses to communicate
                    with each other using Haipals messenger, such as through order, transaction, and appointment
                    information, delivery and shipping notifications, product and service updates, and marketing. For
                    example, you may receive flight status information for upcoming travel, a receipt for something you
                    purchased, or a notification when a delivery will be made. Messages you may receive containing
                    marketing could include an offer for something that might interest you. We do not want you to have a
                    spammy experience; as with all of your messages, you can manage these communications, and we will
                    honor the choices you make. </li><br>
            </ul>
        </div>
        <div id="terms">
            <h3>Terms Of Service of Haipals messenger.</h3>

            <p style="font-size: 15px;">Haipals messenger private limited(“Haipals messenger,” “our,” “we,” or “us”)
                provides messaging, Internet calling, and other services to users around the world. Please read our
                Terms of Service so you will understand the use of Haipals messenger.You agree to our Terms of Service
                (“Terms”) by installing, accessing, or using our apps, services, features, software, or website
                (together, “Services”). </p>
            <br>
            <p><b>ACCESS TO EMERGENCY SERVICES: There are important differences between Haipals messenger and your
                    mobile and fixed-line telephone and SMS services. Our Services do provide access to emergency
                    services to contact the parents,spouse or emergency services providers, including the police, fire
                    departments, or hospitals, or otherwise connect to public safety answering points. You should also
                    ensure you can contact your relevant emergency services providers through a mobile, fixed-line
                    telephone, or other service also. </b></p>
            <br>
            <h5><b>About our services</b></h5>
            <br>
            <div style="font-size: 15px;">
                <b>Registration. </b>You must register for our Services using accurate data, provide your current mobile
                phone number, email id and, if you change it, update this mobile phone number and email id using our
                in-app change number feature. You can login via our website also for chat using your registered mobile
                number or email id and password. If you lost your mobile,you can login via website and retrieve your
                chat dats to you email and then clear your chat data's from the app.You agree to receive text messages
                and phone calls (from us or our third-party providers) with codes to register for our Services.
                <p><br><b>Address Book.</b> You provide us the phone numbers of Haipals Messenger users and your other
                    contacts in your mobile phone address book on a regular basis. You confirm you are authorized to
                    provide us such numbers to allow us to provide our Services.
                    <br><br><b>Age.</b> You must be at least 13 years old to use our Services (or such greater age
                    required in your country for you to be authorized to use our Services without parental approval). In
                    addition to being of the minimum required age to use our Services under applicable law, if you are
                    not old enough to have authority to agree to our Terms in your country, your parent or guardian must
                    agree to our Terms on your behalf.
                    <br><br><b>Devices and Software.</b> You must provide certain devices, software, and data
                    connections to use our Services, which we otherwise do not supply. For as long as you use our
                    Services, you consent to downloading and installing updates to our Services, including
                    automatically.
                    <br><br> <b>Fees and Taxes.</b> You are responsible for all carrier data plan and other fees and
                    taxes associated with your use of our Services. We may charge you for our Services, including
                    applicable taxes. We may refuse or cancel orders. We do not provide refunds for our Services, except
                    as required by law.
                </p>
            </div>
            <h5><b>Privacy policy and user data</b></h5>
            <p style="font-size: 15px;">Haipals messenger cares about your privacy. Haipals messenger’s Privacy Policy
                describes our information (including message) practices, including the types of information we receive
                and collect from you and how we use and share this information. You agree to our data practices,
                including the collection, use, processing, and sharing of your information as described in our Privacy
                Policy, as well as the transfer and processing of your information to INDIA and other countries globally
                where we have or use facilities, service providers, or partners, regardless of where you use our
                Services. You acknowledge that the laws, regulations, and standards of the country in which your
                information is stored or processed may be different from those of your own country.</p>
            <div style="font-size: 15px;">
                <b>Our Terms and Policies. </b>You must use our Services according to our Terms and posted policies. If
                we disable your account for a violation of our Terms, you will not create another account without our
                permission.
                <p><br><b>Legal and Acceptable Use. </b> You must access and use our Services only for legal,
                    authorized, and acceptable purposes. You will not use (or assist others in using) our Services in
                    ways that: (a) violate, misappropriate, or infringe the rights of Haipals Messenger, our users, or
                    others, including privacy, publicity, intellectual property, or other proprietary rights; (b) are
                    illegal, obscene, defamatory, threatening, intimidating, harassing, hateful, racially, or ethnically
                    offensive, or instigate or encourage conduct that would be illegal, or otherwise inappropriate,
                    including promoting violent crimes; (c) involve publishing falsehoods, misrepresentations, or
                    misleading statements; (d) impersonate someone; (e) involve sending illegal or impermissible
                    communications such as bulk messaging, auto-messaging, auto-dialing, and the like; or (f) involve
                    any non-personal use of our Services unless otherwise authorized by us.
                    <br><br><b>Harm to Haipals messenger or Our Users. </b> You must not (or assist others to) access,
                    use, copy, adapt, modify, prepare derivative works based upon, distribute, license, sublicense,
                    transfer, display, perform, or otherwise exploit our Services in impermissible or unauthorized
                    manners, or in ways that burden, impair, or harm us, our Services, systems, our users, or others,
                    including that you must not directly or through automated means: (a) reverse engineer, alter,
                    modify, create derivative works from, decompile, or extract code from our Services; (b) send, store,
                    or transmit viruses or other harmful computer code through or onto our Services; (c) gain or attempt
                    to gain unauthorized access to our Services or systems; (d) interfere with or disrupt the integrity
                    or performance of our Services; (e) create accounts for our Services through unauthorized or
                    automated means; (f) collect the information of or about our users in any impermissible or
                    unauthorized manner; (g) sell, resell, rent, or charge for our Services; or (h) distribute or make
                    our Services available over a network where they could be used by multiple devices at the same time.
                    <br><br><b>Keeping Your Account Secure. </b> You are responsible for keeping your device and your
                    Haipals Messenger account safe and secure, and you must notify us promptly of any unauthorized use
                    or security breach of your account or our Services.
                    <br><br>
                </p>
            </div>
            <h5><b>Acceptable use of our services</b></h5>
            <div style="font-size: 15px;">
                <b>Our Terms and Policies. </b>You must use our Services according to our Terms and posted policies. If
                we disable your account for a violation of our Terms, you will not create another account without our
                permission.
                <p><br><b>Legal and Acceptable Use. </b> You must access and use our Services only for legal,
                    authorized, and acceptable purposes. You will not use (or assist others in using) our Services in
                    ways that: (a) violate, misappropriate, or infringe the rights of Haipals messenger, our users, or
                    others, including privacy, publicity, intellectual property, or other proprietary rights; (b) are
                    illegal, obscene, defamatory, threatening, intimidating, harassing, hateful, racially, or ethnically
                    offensive, or instigate or encourage conduct that would be illegal, or otherwise inappropriate,
                    including promoting violent crimes; (c) involve publishing falsehoods, misrepresentations, or
                    misleading statements; (d) impersonate someone; (e) involve sending illegal or impermissible
                    communications such as bulk messaging, auto-messaging, auto-dialing, and the like; or (f) involve
                    any non-personal use of our Services unless otherwise authorized by us.
                    <br><br><b>Harm to Haipals messenger or Our Users. </b> You must not (or assist others to) access,
                    use, copy, adapt, modify, prepare derivative works based upon, distribute, license, sublicense,
                    transfer, display, perform, or otherwise exploit our Services in impermissible or unauthorized
                    manners, or in ways that burden, impair, or harm us, our Services, systems, our users, or others,
                    including that you must not directly or through automated means: (a) reverse engineer, alter,
                    modify, create derivative works from, decompile, or extract code from our Services; (b) send, store,
                    or transmit viruses or other harmful computer code through or onto our Services; (c) gain or attempt
                    to gain unauthorized access to our Services or systems; (d) interfere with or disrupt the integrity
                    or performance of our Services; (e) create accounts for our Services through unauthorized or
                    automated means; (f) collect the information of or about our users in any impermissible or
                    unauthorized manner; (g) sell, resell, rent, or charge for our Services; or (h) distribute or make
                    our Services available over a network where they could be used by multiple devices at the same time.
                    <br><br><b>Keeping Your Account Secure. </b> You are responsible for keeping your device and your
                    Haipals messenger account safe and secure, and you must notify us promptly of any unauthorized use
                    or security breach of your account or our Services.
                    <br><br>
                </p>
            </div>
            <h5><b>Third-party services</b></h5>
            <p style="font-size: 15px;">Our Services may allow you to access, use, or interact with third-party
                websites, apps, content, and other products and services. For example, you may choose to use third-party
                data backup services (such as iCloud or Google Drive) that are integrated with our Services or interact
                with a share button on a third party’s website that enables you to send information to your Haipals
                messenger contacts. Please note that when you use third-party services, their own terms and privacy
                policies will govern your use of those services.</p>
            <h5><b>Licenses</b></h5>
            <div style="font-size: 15px;">
                <p><b>Your Rights.</b> Haipals Messenger does not claim ownership of the information that you submit for
                    your Haipals Messenger account or through our Services. You must have the necessary rights to such
                    information that you submit for your Haipals messenger account or through our Services and the right
                    to grant the rights and licenses in our Terms. </p>
                <p><b>Haipals messenger s Rights. </b>We own all copyrights, trademarks, domains, logos, trade dress,
                    trade secrets, patents, and other intellectual property rights associated with our Services. You may
                    not use our copyrights, trademarks, domains, logos, trade dress, patents, and other intellectual
                    property rights unless you have our express permission and except in accordance with our Brand
                    Guidelines. </p>
                <p><b>Your License to Haipals messenger s </b>In order to operate and provide our Services, you grant
                    <b>Haipals messenger is </b>a worldwide, non-exclusive, royalty-free, sublicensable, and
                    transferable license to use, reproduce, distribute, create derivative works of, display, and perform
                    the information (including the content) that you upload, submit, store, send, or receive on or
                    through our Services. The rights you grant in this license are for the limited purpose of operating
                    and providing our Services (such as to allow us to display your profile picture and status message,
                    transmit your messages, store your undelivered messages on our servers for up to 30 days as we try
                    to deliver them, and otherwise as described in our Privacy Policy). </p>
                <p><b>Haipals messenger’s License to You. </b>We grant you a limited, revocable, non-exclusive,
                    non-sublicensable, and non-transferable license to use our Services, subject to and in accordance
                    with our Terms. This license is for the sole purpose of enabling you to use our Services, in the
                    manner permitted by our Terms. No licenses or rights are granted to you by implication or otherwise,
                    except for the licenses and rights expressly granted to you. </p>
            </div>
            <h5><b>Reporting third-party copyright, trademark, and other intellectual property infringement</b></h5>
            <p style="font-size: 15px;">To report claims of third-party copyright, trademark, or other intellectual
                property infringement, please visit our Intellectual Property Policy. We may terminate your Haipals
                messenger account if you repeatedly infringe the intellectual property rights of others </p>
            <br>
            <h5><b>Disclaimers</b></h5>
            <p style="font-size: 15px;">YOU USE OUR SERVICES AT YOUR OWN RISK AND SUBJECT TO THE FOLLOWING DISCLAIMERS.
                WE ARE PROVIDING OUR SERVICES ON AN “AS IS” BASIS WITHOUT ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING,
                BUT NOT LIMITED TO, WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, TITLE,
                NON-INFRINGEMENT, AND FREEDOM FROM COMPUTER VIRUS OR OTHER HARMFUL CODE. WE DO NOT WARRANT THAT ANY
                INFORMATION PROVIDED BY US IS ACCURATE, COMPLETE, OR USEFUL, THAT OUR SERVICES WILL BE OPERATIONAL,
                ERROR FREE, SECURE, OR SAFE, OR THAT OUR SERVICES WILL FUNCTION WITHOUT DISRUPTIONS, DELAYS, OR
                IMPERFECTIONS. WE DO NOT CONTROL, AND ARE NOT RESPONSIBLE FOR, CONTROLLING HOW OR WHEN OUR USERS USE OUR
                SERVICES OR THE FEATURES, SERVICES, AND INTERFACES OUR SERVICES PROVIDE. WE ARE NOT RESPONSIBLE FOR AND
                ARE NOT OBLIGATED TO CONTROL THE ACTIONS OR INFORMATION (INCLUDING CONTENT) OF OUR USERS OR OTHER THIRD
                PARTIES. YOU RELEASE US, OUR SUBSIDIARIES, AFFILIATES, AND OUR AND THEIR DIRECTORS, OFFICERS, EMPLOYEES,
                PARTNERS, AND AGENTS (TOGETHER, THE “HAIPALS MESSENGER PARTIES”) FROM ANY CLAIM, COMPLAINT, CAUSE OF
                ACTION, CONTROVERSY, OR DISPUTE (TOGETHER, “CLAIM”) AND DAMAGES, KNOWN AND UNKNOWN, RELATING TO, ARISING
                OUT OF, OR IN ANY WAY CONNECTED WITH ANY SUCH CLAIM YOU HAVE AGAINST ANY THIRD PARTIES. YOU WAIVE ANY
                RIGHTS YOU MAY HAVE UNDER INDIAN PENAL CODE OR ANY OTHER SIMILAR APPLICABLE STATUTE OR LAW OF ANY OTHER
                JURISDICTION, WHICH SAYS THAT: A GENERAL RELEASE DOES NOT EXTEND TO CLAIMS WHICH THE CREDITOR DOES NOT
                KNOW OR SUSPECT TO EXIST IN HIS OR HER FAVOR AT THE TIME OF EXECUTING THE RELEASE, WHICH IF KNOWN BY HIM
                OR HER MUST HAVE MATERIALLY AFFECTED HIS OR HER SETTLEMENT WITH THE DEBTOR. </p>
            <h5><b>Limitation of liability</b></h5>
            <p style="font-size: 15px;">THE HAIPALS MESSENGER PARTIES WILL NOT BE LIABLE TO YOU FOR ANY LOST PROFITS OR
                CONSEQUENTIAL, SPECIAL, PUNITIVE, INDIRECT, OR INCIDENTAL DAMAGES RELATING TO, ARISING OUT OF, OR IN ANY
                WAY IN CONNECTION WITH OUR TERMS, US, OR OUR SERVICES, EVEN IF THE HAIPALS MESSENGER PARTIES HAVE BEEN
                ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. </p>
            <h5><b>Indemnification</b></h5>
            <p>You agree to defend, indemnify, and hold harmless the Haipals messenger Parties from and against all
                liabilities, damages, losses, and expenses of any kind (including reasonable legal fees and costs)
                relating to, arising out of, or in any way in connection with any of the following: (a) your access to
                or use of our Services, including information provided in connection therewith; (b) your breach or
                alleged breach of our Terms; or (c) any misrepresentation made by you. You will cooperate as fully as
                required by us in the defense or settlement of any Claim </p>
            <h5><b>Dispute resolution</b></h5>
            <h5><b>Availability and termination of our services</b></h5>
            <p style="font-size: 15px;">
                <b>Availability of Our Services.</b> Our Services may be interrupted, including for maintenance,
                repairs, upgrades, or network or equipment failures. We may discontinue some or all of our Services,
                including certain features and the support for certain devices and platforms, at any time. Events beyond
                our control may affect our Services, such as events in nature and other force majeure events.
                <br><b>Termination.</b> We may modify, suspend, or terminate your access to or use of our Services
                anytime for any reason without notice to the parties, such as if you violate the letter or spirit of our
                Terms or create harm, risk, or possible legal exposure for us, our users, or others. The following
                provisions will survive any termination of your relationship with Haipals Messenger: “Licenses,”
                “Disclaimers,” “Limitation of Liability,” “Indemnification,” “Dispute Resolution,” “Availability and
                Termination of our Services,” “Other,” and “Special Arbitration Provision for United States or Canada
                Users.”
            </p>
            <h5><b>Others</b></h5>
            <ul style="font-size: 15px;">
                <li>Unless a mutually executed agreement between you and us states otherwise, our Terms make up the
                    entire agreement between you and us regarding Haipals Messenger and our Services, and supersede any
                    prior agreements.</li>
                <li>We may ask you to agree to additional terms for certain of our Services in the future, which will
                    govern to the extent there is a conflict between our Terms and such additional terms.</li>
                <li>Our Services are not intended for distribution to or use in any country where such distribution or
                    use would violate local law or would subject us to any regulations in another country. We reserve
                    the right to limit our Services in any country.</li>
                <li>You will comply with all applicable INDIAN and non-INDIAN. export control and trade sanctions laws
                    (“Export Laws”). You will not, directly or indirectly, export, re-export, provide, or otherwise
                    transfer our Services: (a) to any individual, entity, or country prohibited by Export Laws; (b) to
                    anyone on INDIAN. or non-INDIAN. government restricted parties lists; or (c) for any purpose
                    prohibited by Export Laws, including nuclear, chemical, or biological weapons, or missile technology
                    applications without the required government authorizations. You will not use or download our
                    Services if you are located in a restricted country, if you are currently listed on any INDIAN or
                    non-INDIAN restricted parties list, or for any purpose prohibited by Export Laws, and you will not
                    disguise your location through IP proxying or other methods.</li>
                <li>Our Terms are written in English (UK.). Any translated version is provided solely for your
                    convenience. To the extent any translated version of our Terms conflicts with the English version,
                    the English version controls.</li>
                <li>Any amendment to or waiver of our Terms requires our express consent.</li>
                <li>We may amend or update these Terms. We will provide you notice of amendments to our Terms, as
                    appropriate, and update the “Last Modified” date at the top of our Terms. Your continued use of our
                    Services confirms your acceptance of our Terms, as amended. If you do not agree to our Terms, as
                    amended, you must stop using our Services. Please review our Terms from time to time.</li>
                <li>All of our rights and obligations under our Terms are freely assignable by us to any of our
                    affiliates or in connection with a merger, acquisition, restructuring, or sale of assets, or by
                    operation of law or otherwise, and we may transfer your information to any of our affiliates,
                    successor entities, or new owner.</li>
                <li>You will not transfer any of your rights or obligations under our Terms to anyone else without our
                    prior written consent.</li>
                <li>Nothing in our Terms will prevent us from complying with the law.</li>
                <li>Except as contemplated herein, our Terms do not give any third-party beneficiary rights.</li>
                <li>If we fail to enforce any of our Terms, it will not be considered a waiver.</li>
                <li>If any provision of these Terms is deemed unlawful, void, or for any reason unenforceable, then that
                    provision shall be deemed severable from our Terms and shall not affect the validity and
                    enforceability of the remaining provisions, except as set forth in the “Special Arbitration
                    Provision for United States or Canada Users” — “Severability” section below.</li>
                <li>We reserve all rights not expressly granted by us to you. In certain jurisdictions, you may have
                    legal rights as a consumer, and our Terms are not intended to limit such consumer legal rights that
                    may not be waived by contract.</li>
                <li>We always appreciate your feedback or other suggestions about Haipals Messenger and our Services,
                    but you understand that we may use your feedback or suggestions without any obligation to compensate
                    you for them (just as you have no obligation to offer them).</li>
            </ul>
            <h4><b>Haipals Messenger private limited Privacy Policy</b></h4>
            <p style="font-size: 15px;">
                Last modified: January 15, 2020 (archived versions) <br>
                <br>Respect for your privacy is coded into our DNA. Since we started Haipals messeger, we’ve aspired to
                build our Services with a set of strong privacy principles in mind.
                <br><br>Haipals messeger provides messaging, Internet calling, and other services to users around the
                world. Our Privacy Policy helps explain our information (including message) practices. For example, we
                talk about what information we collect and how this affects you. We also explain the steps we take to
                protect your privacy – like building WhatsApp so delivered messages aren’t stored and giving you control
                over who you communicate with on our Services.
                <br><br>When we say “Haipals messeger,” “our,” “we,” or “us,” we’re talking about Haipals messeger
                (p)ltd. This Privacy Policy (“Privacy Policy”) applies to all of our apps, services, features, software,
                and website (together, “Services”) unless specified otherwise.
                <br>Please also read Haipals Terms of service (“Terms”), which describes the terms under which you use
                our Services.

            </p>
            <h5><b>Information We Collect</b></h5>
            <p style="font-size: 15px;">Haipals messeger (P) ltd.eceives or collects information when we operate and
                provide our Services, including when you install, access, or use our Services. </p>
            <h6><b>Information You Provide</b></h6>
            <ul style="font-size: 15px;">
                <li><b>Your Account Information. </b>You provide your mobile phone number to create a Haipals messeger
                    account. You provide us the phone numbers in your mobile address book on a regular basis, including
                    those of both the users of our Services and your other contacts. You confirm you are authorized to
                    provide us such numbers. You may also add other information to your account, such as a profile name,
                    profile picture, and status message.</li>
                <li><b>our Messages. </b>We do not retain your messages in the ordinary course of providing our Services
                    to you. Once your messages (including your chats, photos, videos, voice messages, files, and share
                    location information) are delivered, they are deleted from our servers. Your messages are stored on
                    your own device. If a message cannot be delivered immediately (for example, if you are offline), we
                    may keep it on our servers for up to 5 days as we try to deliver it. If a message is still
                    undelivered after 5 days, we delete it. To improve performance and deliver media messages more
                    efficiently, such as when many people are sharing a popular photo or video, we may retain that
                    content on our servers for a longer period of time. We also offer end-to-end encryption for our
                    Services . End-to-end encryption means that your messages are encrypted to protect against us and
                    third parties from reading them.</li>
                <li><b>Your Connections. </b>To help you organize how you communicate with others, we may create a
                    favorites list of your contacts for you, and you can create, join, or get added to groups and
                    broadcast lists, and such groups and lists get associated with your account information.</li>
                <li><b>Customer Support.</b>You may provide us with information related to your use of our Services,
                    including copies of your messages, and how to contact you so we can provide you customer support.
                    For example, you may send us an email with information relating to our app performance or other
                    issues.

                </li>



            </ul>
            <h6><b>Automatically Collected Information</b></h6>
            <ul style="font-size: 15px;">
                <li><b>Usage and Log Information</b>We collect service-related, diagnostic, and performance information.
                    This includes information about your activity (such as how you use our Services, how you interact
                    with others using our Services, and the like), log files, and diagnostic, crash, website, and
                    performance logs and reports. </li>
                <li><b>Transactional Information. </b>If you pay for our Services, we may receive information and
                    confirmations, such as payment receipts, including from app stores or other third parties processing
                    your payment. </li>
                <li><b>Device and Connection Information.</b>We collect device-specific information when you install,
                    access, or use our Services. This includes information such as hardware model, operating system
                    information, browser information, IP address, mobile network information including phone number, and
                    device identifiers. We collect device location information if you use our location features, such as
                    when you choose to share your location with your contacts, view locations nearby or those others
                    have shared with you, and the like, and for diagnostics and troubleshooting purposes such as if you
                    are having trouble with our app’s location features.</li>
                <li><b>Cookies.</b>We use cookies to operate and provide our Services, including to provide our Services
                    that are web-based, improve your experiences, understand how our Services are being used, and
                    customize our Services. For example, we use cookies to provide Haipals messeger for web and desktop
                    and other web-based services. We may also use cookies to understand which of our FAQs are most
                    popular and to show you relevant content related to our Services. Additionally, we may use cookies
                    to remember your choices, such as your language preferences, and otherwise to customize our Services
                    for you. Learn more about how we use cookies to provide you our Services.</li>
                <li><b>Status Information. </b>We collect information about your online and status message changes on
                    our Services, such as whether you are online (your “online status”), when you last used our Services
                    (your “last seen status”), and when you last updated your status message.</li>

            </ul>
            <h6><b>Third-Party Information</b></h6>
            <ul style="font-size: 15px;">
                <li><b>Information Others Provide About You. </b>We receive information other people provide us, which
                    may include information about you. For example, when other users you know use our Services, they may
                    provide your phone number from their mobile address book (just as you may provide theirs), or they
                    may send you a message, send messages to groups to which you belong, or call you. </li>
                <li><b>Third-Party Providers. </b>We work with third-party providers to help us operate, provide,
                    improve, understand, customize, support, and market our Services. For example, we work with
                    companies to distribute our apps, provide our infrastructure, delivery, and other systems, supply
                    map and places information, process payments, help us understand how people use our Services, and
                    market our Services. These providers may provide us information about you in certain circumstances;
                    for example, app stores may provide us reports to help us diagnose and fix service issues. </li>
                <li><b>Third-Party Services. </b>We allow you to use our Services in connection with third-party
                    services. If you use our Services with such third-party services, we may receive information about
                    you from them; for example, if you use the Haipals messeger share button on a news service to share
                    a news article with your Haipals messeger contacts, groups, or broadcast lists on our Services, or
                    if you choose to access our Services through a mobile carrier’s or device provider’s promotion of
                    our Services. Please note that when you use third-party services, their own terms and privacy
                    policies will govern your use of those services. </li>


            </ul>
            <h5><b>How We Use Information</b></h5>
            <p style="font-size: 15px;">We use all the information we have to help us operate, provide, improve,
                understand, customize, support, and market our Services. </p>
            <ul style="font-size: 15px;">
                <li><b>Our Services. </b> We operate and provide our Services, including providing customer support, and
                    improving, fixing, and customizing our Services. We understand how people use our Services, and
                    analyze and use the information we have to evaluate and improve our Services, research, develop, and
                    test new services and features, and conduct troubleshooting activities. We also use your information
                    to respond to you when you contact us. We use cookies to operate, provide, improve, understand, and
                    customize our Services.</li>
                <li><b>Safety and Security. </b>We verify accounts and activity, and promote safety and security on and
                    off our Services, such as by investigating suspicious activity or violations of our Terms, and to
                    ensure our Services are being used legally.</li>
                <li><b>Third-Party Banner Ads. </b>We allow third-party banner ads on Haipals messeger </li>
                <li><b>Commercial Messaging. </b>We will allow you and third parties, like businesses, to communicate
                    with each other using Haipals messeger , such as through order, transaction, and appointment
                    information, delivery and shipping notifications, product and service updates, and marketing. For
                    example, you may receive flight status information for upcoming travel, a receipt for something you
                    purchased, or a notification when a delivery will be made. Messages you may receive containing
                    marketing could include an offer for something that might interest you. We do not want you to have a
                    spammy experience; as with all of your messages, you can manage these communications, and we will
                    honor the choices you make.</li>
            </ul>
            <h5><b>Information You And We Share</b></h5>
            <p style="font-size: 15px;">You share your information as you use and communicate through our Services, and
                we share your information to help us operate, provide, improve, understand, customize, support, and
                market our Services. </p>
            <ul style="font-size: 15px;">
                <li><b>Account Information. </b>Your phone number, profile name and photo, online status and status
                    message, last seen status, and receipts may be available to anyone who uses our Services, although
                    you can configure your Services settings to manage certain information available to other users.
                </li>
                <li><b>Your Contacts and Others.</b>Users with whom you communicate may store or reshare your
                    information (including your phone number or messages) with others on and off our Services. You can
                    use your Services settings and the block feature in our Services to manage the users of our Services
                    with whom you communicate and certain information you share. </li>
                <li><b>Third-Party Providers. </b>We work with third-party providers to help us operate, provide,
                    improve, understand, customize, support, and market our Services. When we share information with
                    third-party providers, we require them to use your information in accordance with our instructions
                    and terms or with express permission from you. </li>
                <li><b>Third-Party Services. </b>When you use third-party services that are integrated with our
                    Services, they may receive information about what you share with them. For example, if you use a
                    data backup service integrated with our Services (such as AWS, iCloud or Google Drive), they will
                    receive information about what you share with them. If you interact with a third-party service
                    linked through our Services, you may be providing information directly to such third party. Please
                    note that when you use third-party services, their own terms and privacy policies will govern your
                    use of those services.</li>


            </ul>
            <h5><b>Assignment, Change Of Control, And Transfer</b></h5>
            <p>All of our rights and obligations under our Privacy Policy are freely assignable by us to any of our
                affiliates, in connection with a merger, acquisition, restructuring, or sale of assets, or by operation
                of law or otherwise, and we may transfer your information to any of our affiliates, successor entities,
                or new owner.</p>
            <p><b>Services Settings. </b></p>
            <ul style="font-size: 15px;">
                <li><b>Changing Your Mobile Phone Number, Profile Name and Picture, and Status Message. </b>You must
                    change your mobile phone number using our in-app change number feature and transfer your account to
                    your new mobile phone number. You can also change your profile name, profile picture, and online
                    status message at any time.</li>
                <li><b>Deleting Your Haipals messeger Account. </b>You may delete your Haipals messeger account at any
                    time (including if you want to revoke your consent to our use of your information) using our in-app
                    delete my account feature. When you delete your Haipals messeger account, your undelivered messages
                    are deleted from our servers as well as any of your other information we no longer need to operate
                    and provide our Services. Be mindful that if you only delete our Services from your device without
                    using our in-app delete my account feature, your information may be stored with us for a longer
                    period. Please remember that when you delete your account, it does not affect the information other
                    users have relating to you, such as their copy of the messages you sent them.</li>
            </ul>
            <h5><b>Law And Protection</b></h5>
            <p>We may collect, use, preserve, and share your information if we have a good-faith belief that it is
                reasonably necessary to: (a) respond pursuant to applicable law or regulations, to legal process, or to
                government requests; (b) enforce our Terms and any other applicable terms and policies, including for
                investigations of potential violations; (c) detect, investigate, prevent, and address fraud and other
                illegal activity, security, or technical issues; or (d) protect the rights, property, and safety of our
                users, Haipals messeger or others.</p>
            <h5><b>Our Global Operations</b></h5>
            <p>
                You agree to our information practices, including the collection, use, processing, and sharing of your
                information as described in this Privacy Policy, as well as the transfer and processing of your
                information to the India and other countries globally where we have or use facilities, service
                providers, or partners, regardless of where you use our Services. You acknowledge that the laws,
                regulations, and standards of the country in which your information is stored or processed may be
                different from those of your own country.
            </p>
            <h5><b>Updates To Our Policy</b></h5>
            <p>
                We may amend or update our Privacy Policy. We will provide you notice of amendments to this Privacy
                Policy, as appropriate, and update the “Last Modified” date at the top of this Privacy Policy. Your
                continued use of our Services confirms your acceptance of our Privacy Policy, as amended. If you do not
                agree to our Privacy Policy, as amended, you must stop using our Services. Please review our Privacy
                Policy from time to time.
            </p>
            <h5><b>Contact Us</b></h5>
            <p>
                If you have questions about our Privacy Policy, please contact us.
            </p>
        </div>
        <div class="trade">
            <h3><b>Intellectual Property Policy: Your Copyrights and Trademarks</b></h3>
            <p> Haipals messeger (p) Ltd (" Haipals messeger," "our," "we," or "us") is committed to helping people and
                organizations protect their intellectual property rights. Our users agree to our Terms of Service
                ("Terms") by installing, accessing, or using our apps, services, features, software, or website
                (together, "Services"). Our Terms do not allow our users to violate someone else's intellectual property
                rights when using our Services, including their copyrights and trademarks.
                <br>As explained in more detail in our Privacy Policy, we do not retain our users' messages in the
                ordinary course of providing our Services. We do, however, host our users' account information,
                including our users' profile picture, profile name, or status message, if they decide to include them as
                part of their account information.
            </p>
            <h5><b>Copyright</b></h5>
            <p>To report copyright infringement and request that Haipals messeger (p) Ltd remove any infringing content
                it is hosting (such as a WhatsApp user's profile picture, profile name, or status message), please email
                a completed copyright infringement claim to contact@haipals.com (including all of the information listed
                below). You can also mail a complete copyright infringement claim to HaiPals copyright agent:</p>
            <p>Haipals messeger (P) Ltd</p>
            <p>Attn: Haipals messeger (P) Ltd Copyright Agent </p>
            <p>India</p>
            <p>contact@haipals.com</p>
            <P>Before you report a claim of copyright infringement, you may want to send a message to the relevant
                Haipals messeger user you believe may be infringing your copyright. You may be able to resolve the issue
                without contacting Haipals messeger.</P>
            <H5><b>Trademark</b></H5>
            <p>To report trademark infringement and request that Haipals messeger remove any infringing content it is
                hosting, please email a complete trademark infringement claim to contact@haipals.com (including all of
                the information listed below).</p>
            <p>Before you report a claim of trademark infringement, you may want to send a message to the relevant
                Haipals messeger user you believe may be infringing your trademark. You may be able to resolve the issue
                without contacting Haipals messeger .</p>
        </div>
        <h5><b>What to include in your copyright or trademark infringement claim</b></h5>
        <p>Please include all of the following information when reporting a copyright or trademark infringement claim to
            HaiPals:</p>
        <ul style="font-size: 15px;">
            <li>Your complete contact information (full name, mailing address, and phone number). Note that we
                regularly provide your contact information, including your name and email address (if provided), the
                name of your organization or client who owns the rights in question, and the content of your report to
                the person whose content you are reporting. You may wish to provide a professional or business email
                address where you can be reached. </li>
            <li>A description of the copyrighted work or trademark that you claim has been infringed. </li>

            <li>A description of the content hosted on our Services that you claim infringes your copyright or
                trademark. </li>
            <li>Information reasonably sufficient to permit us to locate the material on our Services. The easiest way
                to do this is by providing us the phone number of the individual who has submitted the infringing
                content on our Services. </li>
            <li>A declaration that: 
                <ul>
                    <li>You have a good faith belief that use of the copyrighted or trademarked content described
                        above, in the manner you have complained of, is not authorized by the copyright or trademark
                        owner, its agent, or the law;
                    </li>
                    <li>The information in your claim is accurate; and </li>
                    <li>You declare, under penalty of perjury, that you are the owner or authorized to act on behalf of the owner of an exclusive copyright or trademark that is allegedly infringed. </li>
                </ul>
            </li>

            <li>Your electronic signature or physical signature. </li>

        </ul>
        <div class="cookies">
            <h5><b>About cookies</b></h5>
            <p>A cookie is a small text file that a website you visit asks your browser to store on your computer or mobile device.</p>
            <h5><b>How we use cookies</b></h5>
            <p>We use cookies to understand, secure, operate, and provide our Services. For example, we use cookies:</p>
            <ul style="font-size: 15px;">
                <li>to provide HaiPals for web and desktop and other Services that are web-based, improve your experiences, understand how our Services are being used, and customize our Services; </li>
                <li>to understand which of our FAQs are most popular and to show you relevant content related to our Services; </li>
                <li>to remember your choices, such as your language preferences, and otherwise to customize our Services for you; and </li>
                <li>to rank the FAQs on our website based on popularity, understand mobile versus desktop users of our web-based Services, or understand popularity and effectiveness of certain of our web pages. </li>
            </ul>
            <h5><b>How to control cookies</b></h5>
            <p>You can follow the instructions provided by your browser or device (usually located under "Settings" or "Preferences") to modify your cookie settings. Please note that if you set your browser or device to disable cookies, certain of our Services may not function properly. </p>
        </div>
    </div>
    <div class="col-md-3">
    </div>
    <div class="col-md-1">
    </div>
</div>
<br>