<app-navbar></app-navbar>
<br>
<br>

<div class="container">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-5 text-center">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="2500">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="assets/design.jpg" width="350px" height="600px" alt="First slide">
                    </div>
                    <div class="carousel-item">
                        <img src="assets/mobile.png" width="350px" height="600px" alt="Second slide">
                    </div>
                    <div class="carousel-item">
                        <img src="assets/PAYMENTS1.jpg" width="350px" height="600px" alt="Third slide">
                    </div>
                    <div class="carousel-item">
                        <img src="assets/SOS.jpg" width="350px" height="600px" alt="Fourth slide">
                    </div>
                    <div class="carousel-item">
                        <img src="assets/MOMENTS.jpg" width="350px" height="600px" alt="Fifth slide">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5 justify-content-center" style=" top:80px;  position: relative; ">
            <div class="row bg-faded mt-2">
                <div class="col-4 mx-auto d-flex justify-content-center flex-wrap">
                    <img src="assets/logo2.PNG" width="200" height="80">
                </div>
            </div>
            <br>
            <div class="iamCol row text-center" style="font-size:35px; color: rgb(3, 78, 162); line-height: 0.8; ">
                <div class="col-12">
                    <p><i>Bonding with</i></p>
                </div>
            </div>
            <div class="row text-center" style="font-size: 35px; color: rgb(3, 78, 162); line-height: 0.8;">
                <div class="col-12">
                    <div id="carouselExampleIndicators1" class="carousel slide" data-ride="carousel" data-interval="2500">
                        <ol class="carousel-indicators">
                            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <p> HAIPALS</p>
                            </div>
                            <div class="carousel-item">
                                <p> People</p>
                            </div>
                            <div class="carousel-item">
                                <p> Business</p>
                            </div>
                            <div class="carousel-item">
                                <p> Technologies</p>
                            </div>
                            <div class="carousel-item">
                                <p> Social</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="iamCol row text-center" style="font-size: 35px;  color: rgb(3, 78, 162); line-height: 0.8;">
                    <p><i>To build our future</i></p>
                </div>
            </div>
            <div class="row text-center justify-content-center">
                <br>
                <p>
                    <a href="#" class="btn btn-store">
                        <span class="fa fa-apple fa-3x pull-left" style="font-size: 40px;"></span>
                        <span class="btn-label" style="font-size: 12px;">Download on the</span>
                        <span class="btn-caption" style="font-size: 20px;">App Store</span>
                    </a>
                    <a href="#" class="btn btn-store">
                        <span class="fa fa-android fa-3x pull-left" style="font-size: 40px;"></span>
                        <span class="btn-label" style="font-size: 12px;">Download on the</span>
                        <span class="btn-caption" style="font-size: 20px;">Google Play</span>
                    </a>
                </p>
            </div>
            <br />
            <br />
            <div class="row justify-content-center ">
                <a href="#">
                    <i class="fas fa-desktop" style="font-size: 35px;"></i>
                </a> &nbsp;
                <a href="#">
                    <i class="fab fa-apple" style="font-size: 35px;"></i>
                </a>
            </div>
        </div>
        <div class="col-md-1"></div>
</div>
<app-layout></app-layout>